:root {
  --btn_primary: #197bff;
  --secondary: #11ce8e;
  --font_black: #2d394b;
  --font_slate: #82868d;
  --font_dark: #4b5d7a;
  --btn_border: #afb7c4;
  --white: #fff;
  --light: #fafafa;
}
