:root {
  --footer__height: 4rem;
}
.footer_social_media_list {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.social_icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.35rem;
  border: 2px solid #eee;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.social_icon > i {
  font-size: 1.125rem;
}

.social_icon:hover {
  border: 2px solid #007bff;
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.site_footer {
  background-color: #2b2a2a;
}
.footer_inner_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--footer__height);
}

.footer_ts {
  color: #fff;
}
